
.canvas {
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgb(214, 208, 227);
  border-radius: 10px;
  margin-bottom: 5px;
}

.canvas-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.canvas-actions {
  justify-content: flex-end;
}

.canvas-action-btn {
  padding: 5px;
  border-radius: 5px;
  border: 0px solid black;
  background-color: rgb(73, 73, 198);
  color: white;
}

.canvas-action-btn.disabled {
  background-color: gray;
}
