
.home-main-container {
  justify-content: center;
  max-width: 60%;
  margin: 40px auto;
}

.home-create-container {
  justify-content: center;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.container-card-style1 {
  box-shadow: 0 1px 5px -3px #333;
  border-radius: 10px;
}

.home-title {
  font-weight: 400;
  text-align: center;
  color: #333;
}

.flujos-list-container {
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  min-height: 40px;
  background-color: white;
}

.flujos-list-container h3 {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.flujo-card-limiter {
  height: 1px;
  background-color: rgb(130, 130, 130);
  width:  100%;
}

.flujo-data-container {
  display: flex;
  flex-direction: row;
}

.flujo-body {
  flex: 1;
}

.flujo-card-status {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: rgb(222, 222, 222);
  color: rgb(60, 60, 60);
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}

.types-container {
  display: flex;
  flex-direction: row;
}

.types-container p {
  font-size: 10px;
  color: rgb(126, 126, 126);
  margin-left: 2px;
  margin-right: 2px;
}

.type-icon-contaner {
  width: 30px;
  height: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #333;
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
  color: rgb(255, 255, 255);
}
